#Import von Messdaten in Listen

In [1]:
#Textdatei anzeigen
f = open('data/brown1.dat', 'r') #Hier der Pfad zu Euren Daten eintragen
for line in f:
    print(line)

Nummer	Zeit[s]	x[e-6m]	y[e-6m]

1	2	48,646	60,636

2	3	48,921	62,104

3	4	48,096	62,104

4	5	47,086	62,746

  5	6	49,013	63,021

6	7	50,298	62,838

7	8	51,215	62,654

8	9	50,389	61,645

9	10	50,389	60,544

10	11	48,279	60,361

####Dezimaltrennzeichen in Punkte aendern:

In [2]:
f = open('data/brown1.dat', 'r')
for line in f:
    line=line.replace(",", ".") #Komma durch Punkt ersetzen
    print(line)

Nummer	Zeit[s]	x[e-6m]	y[e-6m]

1	2	48.646	60.636

2	3	48.921	62.104

3	4	48.096	62.104

4	5	47.086	62.746

  5	6	49.013	63.021

6	7	50.298	62.838

7	8	51.215	62.654

8	9	50.389	61.645

9	10	50.389	60.544

10	11	48.279	60.361

####Whitespaces am Anfang und am Ende einer Zeile entfernen

In [3]:
f = open('data/brown1.dat', 'r')
for line in f:
    line=line.replace(",", ".") #Komma durch Punkt ersetzen
    line=line.strip()           #Whitespaces am Anfang und Ende einer Zeile entfernen
    print(line)

Nummer	Zeit[s]	x[e-6m]	y[e-6m]
1	2	48.646	60.636
2	3	48.921	62.104
3	4	48.096	62.104
4	5	47.086	62.746
5	6	49.013	63.021
6	7	50.298	62.838
7	8	51.215	62.654
8	9	50.389	61.645
9	10	50.389	60.544
10	11	48.279	60.361

####Header (erste Zeile) entfernen und die Spalten in Listen eintragen

In [4]:
spalte1=[]
spalte2=[]
spalte3=[]
spalte4=[]

f = open('data/brown1.dat', 'r')
header = f.readline()                #erste Zeile in den String "header" eintragen
for line in f:
    line=line.replace(",", ".")      #Komma durch Punkt ersetzen
    line=line.strip()                #Whitespaces am Anfang und Ende einer Zeile entfernen
    zeile=line.split()               #Zeileneintr√§ge in die Liste "zeile" schreiben   
    spalte1.append(float(zeile[0]))  #Spalten in Listen eintragen
    spalte2.append(float(zeile[1]))
    spalte3.append(float(zeile[2]))
    spalte4.append(float(zeile[3]))
    
print(spalte1)
print(spalte2)
print(spalte3)
print(spalte4)

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
[2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0]
[48.646, 48.921, 48.096, 47.086, 49.013, 50.298, 51.215, 50.389, 50.389, 48.279]
[60.636, 62.104, 62.104, 62.746, 63.021, 62.838, 62.654, 61.645, 60.544, 60.361]